<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正则表达式</title>
</head>
<body>
只能输入数字和英文的：<input onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" ID="Text1" NAME="Text1"><br/>
只能输入数字的：<input onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" ID="Text2" NAME="Text2"><br/>
只能输入全角的：<input onkeyup="value=value.replace(/[^\uFF00-\uFFFF]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\uFF00-\uFFFF]/g,''))" ID="Text3" NAME="Text3"><br/>
只能输入汉字的：<input onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))" ID="Text4" NAME="Text4"><br/>
只能输入5-20以字母开头，可带数字，"_","."的：<input onkeyup="value=value.replace(/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){4,19}$/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){4,19}$/g,''))" ID="Text5" NAME="Text5">
</body>
</html>